@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwin directives */

:root {
    --primary-color: #017682;
    --secondary-color: #ababab;
    --secondary-dark-color: #171717 ;

    --color-search-box: #f2f2f2;

    --border-color: #037682 ;
    --white-color-box: #fff;

    --white-color: #fff;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100:100%;
    --percent50:50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s:
}
/* Root css */


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
    font-size: 13px;
    line-height: 1.25;
}

html, button, textarea {
    font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial";
    color: var(--secondary-color);
}
/* Configuration de balise HTML */



/* -----------------
 *   Mobile First
 *-----------------*/
@media screen and (min-width: 0px) and (max-width: 375px){

    header {
        padding: 10px;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .l-header_logo img {
        display: flex;
        width: 100px;
    }

    .ri-menu-line {
        color: blue;
        float: right;
    }

    .l-header_actions {
        visibility: hidden;
    }
    
    .l-header_navigation {
        visibility: hidden;
    }
}



/* -----------------
 *   Desktop First
 *-----------------*/
