:root {
    --primary-color: #017682;
    --secondary-color: #ababab;
    --secondary-dark-color: #171717 ;

    --color-search-box: #f2f2f2;

    --border-color: #037682 ;
    --white-color-box: #fff;

    --white-color: #fff;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100:100%;
    --percent50:50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s:

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
    font-size: 13px;
    line-height: 1.25;
}

html, button, textarea {
    font-family: "Maison Neue", "Helvetica Neue", "Helvetica-Neue", "Arial";
    color: var(--secondary-color);
}

@media only screen and (min-width: 721px) and (max-width: 959px), only screen and (max-width: 720px) {
    body {
       
    }
    
    }
 
a {
    
    text-decoration: none;
    
    color: inherit;
    
}
      
ul {
    
    list-style: none;
    
}
       
img {
    
    max-width: var(--percent100);
    
    vertical-align: middle;
    
}

.l-header_content {

    display: flex;
    
    align-items: center;
    
    width: 100%;

}

div {

    display: block;

}


/*----------------
$     Header
*----------------*/

header {
    display: block;
}

.l-header  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.l-header_main {
    
    padding-top: 4px;
    padding-bottom: 4px;
}

.l-header_content {
    display: flex;
    align-items: center;
    width: 100%;
}



@media screen and (max-width: 720px) {

    .l-header_content {
        display: flex;
        padding: 0 10px 0 10px;
    }

    .l-header_logo {
        height: 44px;
        display: flex;
        align-items: center;
    }
    
    .l-header_logo img {
        width: 100px;
    }
    
    
    .l-header_search {
    
        display: flex;
    
        align-items: center;
        
        justify-content: space-between;
    
        width: 205px;
    
        padding: 0.20rem;
    
        border-radius: 0.2rem;
    
        color: rgb(153, 153, 153);
    
        background-color: var(--color-search-box);
    
        position: relative;
        left: 30px;

        padding: 6px;
        
    }
    
    input {
        margin: 0 0rem 0 0.4rem;
    
        width: 100%;
        border: none;
    
        outline: none;
    
        background-color: var(--color-search-box);
    }
    
    .icon-search {
    
    position: relative;
        
    left: 2px;
        
    }
     
        
    .icon-close {
        
    position: relative;
        
    right: 2px;
        
    }
    
    .u-desktops-only{
        position: relative;
        left: 90px;
    }
    
    .login-account {
        position: relative;
        right: 20px;
    
        border: 1px solid#037682;
        padding: 4px;
    }
    
    .sell-on-vinted {
        border:1px solid#017682;
        background-color: #017682;
        padding: 4px;
        color: white;
    }
        
    .help {
        visibility: hidden;
    }
    
}